/build/
/.idea/
/target/
/SeleniumCourse.iml
/debug.log
/.allure/
/classes/
/test-classes/
/target/classes/pages
/target/test-classes/
/allure-results/
/target/classes/common/
/target/classes/constants/
/target/test-classes/tests/base/
/target/test-classes/tests/loans/
/target/test-classes/tests/telecomunications/